:root {
  --color-primary: #3366cc;
  --color-primary-light: #3399ff;
  --color-primary-dark: #333399;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); 
}

* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, #000, var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; 
}

#root{
  height: 100%;
  display: flex;
}

.container {
  flex:1;
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  border: 1px solid transparent;
  margin: 8rem 8rem;
  min-height: calc(100vh - 2 * 8rem);
}

/*For tablets and smaller devices*/
@media only screen and (max-width: 780px) {
  .container {
    margin: 4rem auto;
    min-height: calc(100vh - 2 * 4rem);
  }
}


.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content {
  
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.025em;
}

.panel {
  padding: 3rem 0 0 0;
  width: 80%;
  margin: 0 auto;
  color: var(--color-primary);
}

.city {
  font-size: 2.4rem;
  text-align: center;
  border-bottom: solid thin var(--color-primary);
  text-transform: uppercase;
  color: var(--color-primary);;
}
